/* Main theme */
body {
    background-color: #eee;
    margin: 0;
    padding: 20px;
    font-family: 'Exo', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
}

h2 {
    margin: 0;
    padding-bottom: 5px;
    font-size: 18px;
    display: block;
}

.wrapper {
    margin: 50px auto 25px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 10px 19px -14px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: 0px 10px 19px -14px rgba(0, 0, 0, 0.67);
    box-shadow: 0px 10px 19px -14px rgba(0, 0, 0, 0.67);
    max-width: 1200px;
}

.mini {
    max-width: 600px;
}

footer {
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
    color: gray;
}

/* Forms */
input,
textarea,
select {
    display: block;
    border-radius: 5px;
    border: 2px solid lightgray;
    padding: 5px;
    margin-bottom: 20px;
    font-family: 'Exo', sans-serif;
    font-size: 13px;
}

.for-whom input {
    display: inline;
    margin-right: 5px;
}

.for-whom .total {
    text-align: right;
}

button, .btn {
    display: inline-block;
    border-radius: 5px;
    padding: 15px;
    background-color: #eee;
    border: none;
    text-transform: uppercase;
    font-family: 'Exo', sans-serif;
    cursor: pointer;
}

/* Page rules */
.page-header {
    background-color: rgb(0, 131, 65);
    padding: 30px;
    color: white;
    border-radius: 5px 5px 0 0;
}

.page-header h1 {
    display: inline;
    text-transform: uppercase;
    font-size: 20px;
    margin-right: 10px;
}

.page-header small {
    color: #eee;
}

.page-content {
    background: white;
    padding: 30px;
    border-radius: 0 0 5px 5px;
}

.section {
    padding: 20px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 4px 4px -1px rgba(186, 186, 186, 1);
    -moz-box-shadow: 0px 4px 4px -1px rgba(186, 186, 186, 1);
    box-shadow: 0px 4px 4px -1px rgba(186, 186, 186, 1);
    margin-bottom: 20px;
}

.section-title {
    margin: -20px -20px 20px;
    display: block;
    border-radius: 5px 5px 0 0;
    padding: 5px;
    background-color: rgb(0, 131, 65);
    color: white;
    text-align: center;
}

/* Expense items */

.expense-item {
    background-color: #eee;
    border-radius: 5px;
    overflow: hidden;
    -webkit-box-shadow: 0px 4px 4px -1px rgba(186, 186, 186, 1);
    -moz-box-shadow: 0px 4px 4px -1px rgba(186, 186, 186, 1);
    box-shadow: 0px 4px 4px -1px rgba(186, 186, 186, 1);
    padding: 20px;
    position: relative;
    margin-bottom: 20px;
}

.expense-item-title {
    text-transform: none;
}

.expense-item-title small {
    color: gray;
    font-size: 15px;
    font-weight: normal;
}

.expense-item-title a {
    margin-right: 10px;
}

.expense-item img {
    max-width: 100%;
    max-height: 500px;
}

.expense-item .expense-item-balance-impact {
    position: absolute;
    right: 20px;
    top: 20px;
    display: inline;
    font-weight: bold;
}

.positive {
    color: green;
}

.negative {
    color: rgb(217, 68, 60);
}

.expense-item .expense-item-details {
    text-align: justify;
    padding-bottom: 5px;
    overflow-y: auto;
}

.expense-item .hidden {
    display: none;
}

.expense-item-details-toggle {
    color: darkcyan;
}

.expense-item-detail-edit {
    float: right;
    color: darkcyan;
}

.expense-item-data {
    border-top: 1px solid lightgray;
}

.expense-item-data h3 {
    font-size: 15px;
}

.expense-button {
    display: block;
    background-color: rgb(0, 131, 65);
    margin-bottom: 20px;
    color: white;
    font-size: 15px;
    text-align: center;
    -webkit-box-shadow: 0px 4px 4px -1px rgba(186, 186, 186, 1);
    -moz-box-shadow: 0px 4px 4px -1px rgba(186, 186, 186, 1);
    box-shadow: 0px 4px 4px -1px rgba(186, 186, 186, 1);
}

/* Balance item */
.my-wallet {
    padding-bottom: 20px;
}

.wallet-balance {
    text-align: center;
}

.balance-item {
    font-size: 15px;
    text-align: center;
    margin: 0;
    padding-bottom: 10px;

}

.balance-bar {
    position: relative;
    border-radius: 5px;
    height: 30px;
}

.balance-bar-negative {
    grid-area: balance-item-negative;
}

.balance-bar-positive {
    grid-area: balance-item-positive;
}

.balance-bar-bar {
    width: 0;
    height: 30px;
    color: white;
    -webkit-box-shadow: 0px 4px 4px -1px rgba(186, 186, 186, 1);
    -moz-box-shadow: 0px 4px 4px -1px rgba(186, 186, 186, 1);
    box-shadow: 0px 4px 4px -1px rgba(186, 186, 186, 1);
}

.balance-bar-negative .balance-bar-bar {
    background-color: rgb(217, 68, 60);
    float: right;
    border-radius: 5px 0 0 5px;
}

.balance-bar-positive .balance-bar-bar {
    background-color: rgb(0, 131, 65);
    text-align: right;
    border-radius: 0 5px 5px 0;
}

.balance-bar-text {
    position: absolute;
    padding: 5px 5px;
}

.balance-bar-negative .balance-bar-text {
    right: 50%;
}

/* Utility */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Landing page */

.landing {
    margin: 0 auto;
    text-align: center;
}

.landing-title {
    font-size: 50px;
    margin: 10px 0;
}

.landing-description {
    font-size: 30px;
    margin: 10px 0 30px;
    text-transform: none;
}

.landing-button {
    display: inline-block;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Grid-specific CSS */
@media (min-width: 992px) {
    .grid-container {
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-template-rows: 1fr;
        grid-template-areas: "expenses my-wallet";
        grid-gap: 20px;
    }

    .sticky {
        position: sticky;
        top: 20px;
    }
}

/* Responsivity ! */
@media (max-width: 992px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1auto;
        grid-template-rows: 1auto 1auto;
        grid-template-areas: "expenses""my-wallet";
        grid-gap: 20px;
    }
}

.expenses {
    grid-area: expenses;
}

.my-wallet {
    grid-area: my-wallet;
}

.balance-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "balance-item-negative balance-item-positive";
}

/* Creation */
.participant-field {
    display: block;
    margin-right: 20px;
}

.participant-field input {
    display: inline;
    margin-right: 5px;
}

.participant-remove {
    display: inline;
}

/* Alerts */
.alert {
    padding: 20px;
    border-radius: 5px;
    background-color: lightgray;
    margin-bottom: 20px;
}

.alert-success {
    background-color: rgb(102, 189, 102);
}

.alert-error {
    background-color: rgb(189, 102, 102);
}